---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif: Georgia, Times, serif !default;
$global-font-family : $serif;

$code-background-color: #e0e0e0;
$x-large: 1640px !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
    padding: 1.5em 0 4.5em 0;
}

// katex font fix
katex-inline.keepfont {
    .katex, .mathnormal, .mathit, .mathrm {
        font-family: inherit;
    }
    .katex {
        font-size: 1em;
    }
}

// layout figure and figcaption
figure {
    flex-direction: column;
}

figure > :not(img) {
    width: 100%;
}

figure > figcaption {
    text-align: center;
}

// put whitespace under a <details> similar as to under a <p>
details.page__content {
    margin: 0 0 1.3em;
}

// remove underline of titles on overview page
.archive__item-title > a {
    text-decoration: none;
}

.series {
    font-size: .8em;
    border: 1px solid #777777;
    background-color: #d8ebf1;
    color: #3d4144;
    padding: 8px;
    margin-bottom: 18px;
    li span.me {
        font-weight: bold;
        position: relative;
        &::before {
            content: '➞ ';
            position: absolute;
            left: -2.5em;
            top: -1px;
        }
    }
    li span.date {
        color: #7d9194;
        font-size: .9em;
        &::before {
            content: "  [";
        }
        &::after {
            content: "]";
        }
    }
    .seriesname {
        font-style: italic;
    }
}

article.page section.page__content h1 {
    font-size: 1.8em;
    margin-top: 2.2em;
}

div.list__item {
    margin-bottom: 2em;
    width: 100%;
    padding-bottom: 40%;  // should make the height of the element 40% of it's width
    border: 1px solid black;
    border-radius: 1em;
    position: relative;
    overflow: hidden;
    > article {
        position: absolute;
        top: 1em;
        left: 1em;
        width: calc(100% - 2em);
        height: calc(100% - 1em);
        overflow: hidden;
        > h2 {
            margin-top: 0;
            position: relative;
        }
        mask-image: linear-gradient(rgba(0,0,0,1) 90%, rgba(0,0,0,0));
    }
    > div.archive-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: var(--header-image);
        background-size: cover;
        background-position: center;
        filter: saturate(130%) contrast(15%) brightness(195%) blur(2px);
    }
}

.page__content details {
    margin-bottom: 1.3em;
    padding-left: 2em;
    summary {
        margin-left: -2em;
    }
}
