---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif: Georgia, Times, serif !default;
$global-font-family : $serif;

$code-background-color: #e0e0e0;
$x-large: 1640px !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
    padding: 1.5em 0 4.5em 0;
}

// pictures on the overview page
.archive-custom-teaser {
    float: left;
    max-width: 150px;
    max-height: 350px;
    margin-right: 18px;
}
.archive__item-excerpt {
    @include clearfix;
}

// katex font fix
katex-inline.keepfont {
    .katex, .mathnormal, .mathit, .mathrm {
        font-family: inherit;
    }
    .katex {
        font-size: 1em;
    }
}

// layout figure and figcaption
figure {
    flex-direction: column;
}

figure > :not(img) {
    width: 100%;
}

figure > figcaption {
    text-align: center;
}

// put whitespace under a <details> similar as to under a <p>
details.page__content {
    margin: 0 0 1.3em;
}

// remove underline of titles on overview page
.archive__item-title > a {
    text-decoration: none;
}

.series {
    font-size: .8em;
    border: 1px solid #777777;
    background-color: #d8ebf1;
    color: #3d4144;
    padding: 8px;
    margin-bottom: 18px;
    li span.me {
        font-weight: bold;
        position: relative;
        &::before {
            content: '➞ ';
            position: absolute;
            left: -2.5em;
            top: -1px;
        }
    }
    li span.date {
        color: #7d9194;
        font-size: .9em;
        &::before {
            content: "  [";
        }
        &::after {
            content: "]";
        }
    }
    .seriesname {
        font-style: italic;
    }
}
