---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif: Georgia, Times, serif !default;
$global-font-family : $serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive-custom-teaser {
    float: left;
    max-width: 150px;
    max-height: 350px;
    margin-right: 18px;
}
.archive__item-excerpt {
    @include clearfix;
}

katex-inline.keepfont {
    .katex, .mathnormal, .mathit, .mathrm {
        font-family: inherit;
    }
    .katex {
        font-size: 1em;
    }
}

figure {
    flex-direction: column;
}

figure > :not(img) {
    width: 100%;
}

figure > figcaption {
    text-align: center;
}

details.page__content {
    margin: 0 0 1.3em;
}
